<%# write a tailwind navbar %>
<div class="mt-11">
  <div class="turbo-native-hidden">
    <%= render 'shared/web_navbar' %>
  </div>
  <div class="turbo-native-shown">
    <%= render 'shared/native_navbar' %>
  </div>
</div>
